* {
    box-sizing: border-box;
}

body {
    font-family: "Teachers", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    color: black;
    background-color: #D9D9D9;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

header {
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: #0D0D0D;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header h1 {
    font-family: "Madimi One";
    font-size: 50px;
    color: #D9D9D9;
    margin: 0;
}

header .container .hamb{
    display: none;   
}

header h1 {
    font-family: "Madimi One";
    font-size: 50px;
    color: #D9D9D9;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.container a {
    color: #D9D9D9;
    margin: 20px;
}

.container a:hover {
    font-size: 25px;
}

main {
    margin-top: 80px;
}

#About {
    padding: 7% 0;
    text-align: left;
    height: 100vh;
}

#About h2 {
    font-family: "Madimi One";
    font-size: 25px;
    color: #260101;
}

#About h3 {
    font-family: "Madimi One";
    font-size: 18px;
    color: #260101;
}

#About p {
    font-size: 18px;
}

#About img {
    margin: 5%;
    max-width: 400px;
    max-height: auto;
    border-radius: 50%;
}

.about_me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.about_me_information {
    width: 40%;
}

#Experience {
    padding: 60px 0;
    background-color: #260101;
    color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Experience h2 {
    font-family: "Madimi One";
    font-size: 50px;
}

#Experience h3 {
    font-family: "Madimi One";
    font-size: 25px;
}

#Experience h4 {
    font-family: "Madimi One";
    font-size: 20px;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
}

.experience img {
    text-align: center;
    max-width: 50%;
    height: auto;
}

.experience_information {
    width: 100%;
    max-width: 600px;
}


.technologies-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.technologies-container h4 {
    margin: 20px 0;
    font-family: "Madimi One";
    font-size: 20px;
    color: #D9D9D9;
}

.technologies-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.technologies-images img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

#Projects {
    padding: 60px 0;
    background-color: #D9D9D9;
    color: #260101;
}

#Projects h2 {
    font-family: "Madimi One";
    font-size: 50px;
    text-align: center;
}

#Projects h3 {
    text-align: center;
    font-size: 30px;
    font-family: "Madimi One";
    margin: 10px 0;
}

#Projects h4 {
    font-family: "Madimi One";
    margin: 10px 0;
}

#Projects img {
    border-radius: 10px;
}

.other_projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 50px;
}

.other_projects_information {
    width: 20%;
}

.showing-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
}

.square {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.square .images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square .images img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.square .content {
    text-align: center;
    padding: 10px 0 0;
}

.square .content h3 {
    margin: 10px 0;
    font-size: 22px;
}

.square .content p {
    font-size: 16px;
    margin: 10px 0 0;
}

#Skills {
    padding: 60px 0;
    background-color: #260101;
    color: #D9D9D9;
    text-align: center;
}

#Skills h2 {
    font-family: "Madimi One";
    font-size: 50px;
    text-align: center;
}

#Skills h3 {
    font-family: "Madimi One";
    font-size: 35px;
    text-align: center;
}

#Skills h4 {
    font-family: "Madimi One";
    font-size: 20px;
}

.skills-images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.skills-images img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 25%;
}


@media (min-width: 1200px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 1199px) {
    
    header .container nav{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #0D0D0D;
        padding: 80px 15px;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        transition: all 0.4s ease;
        transform: translateX(100%);
    }

    header .container nav.open{
        transform: translateX(0);
    }

    header .container nav a{
        font-size: 30px;
        margin: 15px 0px;
    }

    header .container nav a{
        font-size: 30px;
        margin: 15px 0px;
    }

    
    header h1 {
        font-size: 40px;
        text-align: center;
    }

    .about_me{
        display: flex;
        flex-direction: column;
        padding: 50px;
    }

    .other_projects {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }
    
    .other_projects_information {
        margin-bottom: 20px;
        width: 100%;
    }

    .container a {
        margin: 10px 0;
    }

    .about_me_information, .about_me img {
        width: 100%;
        text-align: center;
    }

    .about_me_information {
        margin-bottom: 20px;
        width: 100%;
        
    }

    #Projects h2 {
        font-size: 40px;
    }

    .showing-projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .item-1{
        order: 1;
    }

    .item-2{
        order: 2;
    }

    .skills-images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 13px;
    }

    header h1 {
        font-size: 30px;
    }


    header h1 {
        font-family: "Madimi One";
        font-size: 25px;
        color: #D9D9D9;
        margin: 0;
    }

    header .container .hamb{
        display: block;
        font-size: 25px;
        color: #D9D9D9;
        position: relative;
    }

    .container a {
        font-size: 18px;
    }

    main {
        margin-top: 60px; 
    }

    #About img {
        margin: 0px;
        max-width: 300px;
        max-height: 300px;
    }

    .about_me_information h2 {
        font-size: 17px;
    }

    .about_me_information h3 {
        font-size: 13px;
    }

    .about_me_information p {
        font-size: 13px;
    }

    #Projects h2 {
        font-size: 30px;
    }

    .showing-projects {
        grid-template-columns: 1fr;
    }

    .square .content h3 {
        font-size: 20px;
    }

    .square .content p {
        font-size: 14px;
    }
}


@media (max-width: 900px) {
    .showing-projects {
        grid-template-columns: repeat(2, 1fr);
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 10%;
        background-color: #0D0D0D;
    }
    #About {
        text-align: center;
        height: 100vh;
    }
    #About img {
        max-width: 250px;
        max-height: 250px;
        border-radius: 50%;
    }
}

@media (max-width: 800px) {
    .showing-projects {
        grid-template-columns: 1fr;
    }
}
